html {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    width: 700px;
    height: 340px;
    border: 2px solid black;
    background-image: url('./images/backgroud.jpg');
}

#character {
    width: 53px;
    height: 40px;
    background-image: url("./images/dino.png");
    position: relative;
    top: 260px;
    left: 500px;
}

.animation {
    animation: d 1s;
}

#rock {
    width: 61px;
    height: 48px;
    background-image: url("./images/rock.png");
    position: relative;
    top: 220px;
    left: 40px;
    animation: r 2s infinite;
}

#btn {
    display: none;
}

@keyframes r {
    0% { left: 40px; }
    100% { left: 630px; }
}

@keyframes d {
    0% { top: 260px; }
    30% { top: 200px; }
    60% { top: 200px; }
    100% { top: 260px; }
}