html {
    margin: 0;
    padding: 0;
    cursor: url('/calculator/images/cursor.png'), auto;
}

:hover {
    cursor: url('/calculator/images/cursor.png'), auto;
}

body {
    background-color: #131120;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    height: inherit;
}

button {
    text-align: center;
    padding: 15px;
    height: 40px;
    width: 60px;
    background-color: rgb(55, 27, 112, 0.6);
    border: 1px solid rgb(40, 40, 66, 0.3);
    border-radius: 5px;
    margin: 2px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(55, 27, 112);
}

/*Classes:*/
.calc {
    grid-template-columns: auto auto auto auto;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(88, 87, 87);
}

.buttons {
    margin: 5px;
}

/*Ids:*/
#result {
    text-align: right;
    margin: 5px;
    background-color: rgb(40, 40, 66, 0.3);
    border: 1px solid rgb(40, 40, 66, 0.3);
    border-radius: 5px;
    width: auto;
    padding: 10px;
    font-weight: bold;
}

#equal {
    background-color: rgba(67, 36, 139, 0.5);
}

#equal:hover {
    background-color: rgba(67, 36, 139);
}

#num {
    background-color: rgba(53, 6, 114, 0.3);
}

#num:hover {
    background-color: rgb(70, 62, 92);
}