html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    /*cursor: url('/to-do list/images/cursor2.png'), auto;*/
}

button {
    background-color: #ecb2c4;
    border: none;
    border-radius: 3px;
    color: black;
}

button:hover {
    background-color: #96143d;/
}

body {
    background-color: #0E1122;
    color: #C71B52;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

img {
    width: auto;
    height: auto;
}

input {
    border: 2px solid rgb(199, 27, 82, 0.5);
    border-radius: 5px;
    background-color: rgb(199, 27, 82, 0.5);
    accent-color: #C71B52;
}

.add {
    text-align: left;
}

.add input {
    float: right;
}

.app {
    background-color: rgb(207, 200, 200);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(156, 25, 87);
    padding: 25px;
}

.main {
    background-color: #e08aa5;
    border: 1px solid rgb(207, 200, 200);
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    margin-top: -30px;
}

.main button {
    float: right;
    height: 22px;
    width: 30px;
}

.dots {
    width: 30px;
    height: 30px;
    background-color: #ecb2c4;
    border: none;
    border-radius: 5px;
}

.dots:hover .trash:hover {
    background-color: rgb(199, 27, 82, 0.5);
}

.title {
    font-size: 50px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -3px;
    color: transparent;
    -webkit-text-stroke: 2px #C71B52;
}

#element {
    background-color: #e08aa5;
    border: 1px solid rgb(207, 200, 200);
    border-radius: 5px;
    padding-left: 10px;
    text-align: left;
}

.waves {
    background-image: url('/to-do list/images/Curve\ Line.svg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}